# Large model files
*.gguf
*.bin
*.pt
*.pth
*.onnx
*.safetensors

# Project specific directories
not_quantized_model/
llama.cpp/
outputs/
_unsloth_sentencepiece_temp/
unsloth_compiled_cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
llama.cpp/

# Virtual Environment
env/
venv/
ENV/
.env/
.venv/
sql_evaluation_library/sql_fine_tuning/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 
sql_evaluation_library/sql_fine_tuning/bin
cursor-memory-bank
memory-bank